@import "tailwindcss";

:root {
  font-family: var(--font-poppins);
}

@theme {
  --color-green: #1B4332;
  --color-pink-dark: #f9cada;
  --color-pink-light: #fbeff3;
  --color-white: #fdfdfd;
  --color-black-text: #212529;
}
